Home page
	-lists all posts (with pagination)
	-button to write a post (DONE)

Posts
	-Image of user who wrote the post (DONE)
	-Post content (DONE)
	-Category of post (DONE)
	-When clicking on post, logged user can comment  (optional)
	- Each comments has the author's name and pic (optional)


Logged User
	- Can write a post (need to choose a category or can create one) (DONE)
	- Can comment on posts
	- Can edit or delete posts the user wrote 
	- Can view all posts posted the user wrote (a tab on Nav bar)
	- log out option on navbar
	- Notification for comments on post (optional)

Unlogged User
	- log in form (username + password)
	- registration form (username, email, password)
	- Can view all posts on homepage
	- Can view posts by category 
	--WHEN CLIKING ON CATEGORY, LIST ALL POSTS WITHIN THAT CATEGORY (DONE)

Admin Page
	- View all posts with pagination
	- delete posts


DONE:
Navbar
	- Log in or Sign up on top right of navbar


25/01/2021
-Edit post logic (need to think about categoory)


